{% extends 'dashboard/base.html' %} {% load static %} {% block content %}

<div class="container">
    <!-- <button href="{% url 'add_document'%}" class="btn btn-success" type="submit">
        Add Document
    </button> -->
    <a class="btn btn-sm btn-success" href="{% url 'add_document' %}" style="background-color: green; color: white;">Add Document</a>
    <br>
    <hr>{% if document%}
    <table class="table table-striped table-bordered table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Document</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for doc in document %}

            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{doc.title}}</td>
                <td>

                    {{doc.document}}
                </td>

                <td><a href="{% url 'delete_document' doc.id %}"><i class="fa fa-trash fa-2x"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4>You have not added any document</h4>
    {%endif%}
</div><br><br> {% endblock content %}